@import '_variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: $color-white;
    transition: all .3s ease-in-out;

    &:hover {
        color: darken($color-white, 30%);
    }
}

h1 {
    text-transform: uppercase;
}

.home-page {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-weight-bold {
    font-weight: 700;
}

.list-unstyled {
    list-style: none;
}

.custom-file-input {
    border: 1px solid $color-tertiary;
    color: $color-white;

    &:hover {
        background: lighten($color-tertiary, 10%);
        color: $color-white;
    }
}

.custom-file-input::-webkit-file-upload-button {
    background: lighten($color-tertiary, 10%);
    color: $color-white;

    &input {
        &:hover {
            background: lighten($color-tertiary, 10%);
            color: $color-white;
        }
    }
}

.btn {
    &-primary {
        background: lighten($color-tertiary, 10%);
        color: $color-white;
        border: $color-white;

        &:hover {
            background: $color-tertiary;
            color: $color-white;
        }
    }
}

body {
    background: $color-primary;
    min-height: 100vh;
    min-width: 100%;
    color: $color-white;
    font-family: 'Ubuntu', sans-serif;
}

main {
    padding-bottom: 60px;
}

.colectie {
    background: #1B262C;
    margin-top: 20px;

    &.card {
        background: inherit;
        border: 1px solid rgba($color-tertiary, 0.9);
    }

    &__titlu {
        text-transform: capitalize;
        padding-bottom: 10px;

        border-bottom: 1px solid rgba($color-tertiary, 0.9);
    }

    &__details {
        flex-grow: 1;
    }

    &__img {
        max-width: 260px;
    }

    &__artisti {
        > li {
            font-size: 1rem;
            font-weight: 300;
            margin-right: 12px;

            &:after {
                right: 0;
                content: ","
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }

    &__melodii {
        .melodie {
            padding: 6px 0;
            border-bottom: 0.5px solid rgba(#BBE1FA, 0.2);

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.modal {
    .modal-dialog {
        transition: .3s ease-in-out;
        opacity: 0;
        transform: translateY(-500px);
        top: 20%;
    }

    &.show {
        .modal-dialog {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .modal-content {
        background: $color-primary;
        color: $color-white;
    }
}

.icon-list-item {
    display: flex;
    align-items: center;

    a {
        margin-left: 8px;
    }
}

.navigation-wrapper {
    .navigation {
        display: flex;
        justify-content: flex-end;
        padding: 8px 0;

        > li {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 500;
            margin-right: 32px;
        }
    }
}

.form-select {
    background: $color-tertiary;
    color: $color-white;
    display: inline-block;
    width: auto;
}